name: Profile Metrics

on:
  schedule:
    - cron: '0 3 * * *' # Every day at 03:00 UTC
  workflow_dispatch:

permissions:
  contents: write
  actions: read

jobs:
  metrics:
    runs-on: ubuntu-latest
    if: github.event_name != 'pull_request'
    steps:
      - name: Generate Metrics
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }} # PAT with repo, read:user, read:org
          user: Shoaib-2
          template: classic
          base: header, activity, community
          config_timezone: Asia/Kolkata
          plugins_errors_fatal: false
          output_action: commit
          committer_token: ${{ secrets.METRICS_TOKEN }}
          plugin_followup: yes
          plugin_followup_sections: repositories, user
          plugin_achievements: yes
          plugin_achievements_threshold: C
          plugin_achievements_display: compact
          plugin_languages: yes
          plugin_languages_ignored: html, css
          plugin_languages_details: percentage
          plugin_languages_limit: 8
          plugin_stargazers: yes
          plugin_repositories: yes
          plugin_wakatime: yes
          plugin_wakatime_token: ${{ secrets.WAKATIME_API_KEY }}
          plugin_wakatime_sections: time, languages
          plugin_wakatime_limit: 8
          filename: metrics.svg
